* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  z-index: 1;
}

.background-image {
  background-image: url("https://rare-gallery.com/thumbs/4580148-keyboards-computer-mice-computer-window-desk.png");
  background-size: cover;
  background-repeat: no-repeat;
  height: 100vh;
  width: 100vw;
  background-attachment: fixed; /* Optional: Fixed background */
  position: relative;
  background-size: 100% 100%;
}

.overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background-color: rgba(0, 0, 0, 0.5);
  z-index: -1;
}
.navbar {
  padding-top: 5px;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 7vh;
  font-size: 1.1rem;
}

.navbar-lnk {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-right: 20px;
}

.navbar-lnk.open{
  position: absolute;
  left: 0;
  width: 50%;
  display: flex;
  animation: slideFromLeft 0.5s ease forwards;
}

.navbar-lnk ul {
  list-style: none;
  display: flex;
}

.navbar-lnk a {
  margin: 0 30px;
  text-decoration: none;
  color: white;
  font-weight: 600;
  transition: 0.3s ease;
  padding: 15px 0;
  border-top: 4px solid rgb(101, 39, 190);
  border-bottom: 4px solid rgb(101, 39, 190);
  border: hidden;
}

.navbar-lnk a:hover {
  border-top: 4px solid white;
  border-bottom: 4px solid white;
  padding: 6px 0;
}

.hamburger-menu {
  display: none;
  position: absolute;
  top: 1rem;
  right: 0.5rem;
  flex-direction: column;
  justify-content: space-between;
  width: 2.25rem;
  height: 2rem;
  cursor: pointer;
}

nav .hamburger-menu .bar {
  width: 100%;
  height: 0.4rem;
  background-color: white;
  border-radius: 0.2rem;
  margin: 5px;
}

.contact-lnk li a {
  text-decoration: none;
}

.contact-lnk {
  position: fixed;
  top: 40%;
  z-index: 2;
}

.contact-lnk ul {
  padding: 0px;
  transform: translate(-270px, 0);
}
.contact-lnk ul li {
  display: block;
  margin: 5px 25px;
  background: rgba(0, 0, 0, 0.2);
  border: 1px solid rgb(255, 96, 0);
  width: 300px;
  text-align: right;
  padding: 10px;
  border-radius: 0 30px 30px 0;
  transition: all 1s;
}

.contact-lnk ul li:hover {
  transform: translate(110px, 0);
  background: rgba(0, 0, 0, 0.1);
}

.contact-lnk ul li:hover a {
  color: rgb(255, 96, 0);
  font-weight: 600;
}

.contact-lnk ul li:hover i {
  color: #fff;
  background: rgb(255, 96, 0);
  transform: rotate(360deg);
  transition: all 1s;
}

.contact-lnk ul li i {
  margin-left: 10px;
  color: rgb(255, 96, 0);
  border-radius: 50%;
  padding: 10px;
  font-size: 20px;
}

.lnk-txt {
  font-size: 1.2rem;
}

.header {
  text-align: center;
  color: white;
  line-height: 5rem;
  margin-top: 50px;
  height: 20vh;
  width: 100vw;
  font-size: 2rem;
  display: flex;
  align-items: center;
  justify-content: center;
}

.header h1 {
  font-weight: 100;
}

.header span {
  font-weight: 100;
  margin: 0 5px;
  font-size: 2.5rem;
}

.content {
  display: flex;
  justify-content: center;
  align-items: center;
}
.skills {
  box-shadow: rgba(0, 0, 0, 0.16) 0px 1px 4px;
  color: white;
  width: 100vw;
  position: absolute;
  bottom: 10px;
}

.skills h1,
h3 {
  font-weight: 400;
}

.skill-section {
  display: flex;
  justify-content: center;
}

.skill-section i {
  margin-bottom: 20px;
  color: rgb(255, 96, 0);
  background-color: rgba(0, 0, 0, 0.3);
  border-radius: 50%;
  width: 70px;
  height: 70px;
  font-size: 40px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.skill-section i:hover {
  transform: rotateY(360deg);
  transition: transform 0.5s; /* Add a smooth transition effect */
}

.html,
.css,
.javascript,
.react,
.angular {
  margin: 20px 50px 20px 50px;
  /* Adjust the margin size as needed */
  display: flex;
  flex-direction: column;
  align-items: center;
}

@keyframes slideFromLeft {
  from {
    transform: translateX(-100%);
    opacity: 0;
  }
  to {
    transform: translateX(0);
    opacity: 1;
  }
}
@keyframes slideFromRight {
  from {
    transform: translateX(100%);
    opacity: 0;
  }
  to {
    transform: translateX(0);
    opacity: 1;
  }
}

@keyframes slideToLeft {
  from {
    transform: translateX(0); /* Start from the current position */
  }
  to {
    transform: translateX(-100%); /* Slide to the left */
  }
}

/* Apply the animation to the header element */
.header .left-txt {
  animation: slideFromLeft 1s ease forwards;
}
.header .right-txt {
  animation: slideFromRight 1s ease forwards;
}



@media screen and (min-width: 481px) and (max-width: 768px){
  nav .hamburger-menu{
    display: flex;
  }

  
  .navbar-lnk{
    display: none;
    flex-direction: column;
    width: 100%;
    align-items: start;
    margin-top: 6rem;
  }

  .content{
    flex-direction: column;
    font-size: 1rem;
    line-height: 3rem;
  }

  .header span{
    display: none;
  }

  .skill-section h3{
    display: none;
  }

  .skill-section i{
    margin: 0;
    width: 70px;
    height: 70px;
    font-size: 40px;
  }

  .html,
.css,
.javascript,
.react,
.angular{
  margin: 0.5%;
  /* Adjust the margin size as needed */
}
  }

  @media screen and (max-width:480px) {
    nav .hamburger-menu{
      display: flex;
    }
  
    
    .navbar-lnk{
      display: none;
      flex-direction: column;
      width: 100%;
      align-items: start;
      margin-top: 6rem;
    }
  
    .content{
      flex-direction: column;
      font-size: 1rem;
      line-height: 3rem;
    }
    .header span{
      display: none;
    }
  
    .skill-section h3{
      display: none;
    }

    .skill-section i{
      margin: 0;
      width: 60px;
      height: 60px;
      font-size: 40px;
    }
  
    .html,
  .css,
  .javascript,
  .react,
  .angular{
    margin: 0.5%;
    /* Adjust the margin size as needed */
  }
    }
  
  